<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Usuarios</h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">
            <button type="button" class="btn btn-block btn-primary">Nuevo Usuario</button>
          </h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>CODIGO</th>
              <th>NOMBRE</th>
              <th>ACCION</th>
            </tr>
            </thead>
            <tbody>
              <% datos.forEach((elements)=>{%>
            <tr>
              <td><%=elements.ID%></td>
              <td><%=elements.NAME%></td>
              <td>
                <button class="btn btn-warning">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            <% }) %>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Total de usuarios: 
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>